
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel='stylesheet' href="/static/css/style.css" />
    <link rel="stylesheet" href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('bower.static', filename='font-awesome/css/font-awesome.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Raleway" />

    <meta charset="UTF-8">
    <title>{{ post.post_title }}</title>
</head>

    <body>
        <div id="wrapper">
            {% include "sidebar.html" %}

            {% block content %}{% endblock %}
        </div>
    </body>

</html>