
<div id="sidebar-wrapper">

    <div class="sidebar-nav">
        <h2 class="sidebar-header"><a href="/">Tom Caruso</a></h2>
        <div class="personal-links row">
            <div class="external-links col-sm-3"><a href="https://github.com/tomplex" target="_blank"><span class="fa fa-github fa-2x" aria-hidden="true"></span></a></div>
            <div class="external-links col-sm-3"><a href="https://www.linkedin.com/in/thomascaruso42/" target="_blank"><span class="fa fa-linkedin fa-2x" aria-hidden="true"></span></a></div>
            <div class="external-links col-sm-3"><a href="https://twitter.com/astronomiser" target="_blank"><span class="fa fa-twitter-square fa-2x" aria-hidden="true"></span></a></div>
        </div>
        <hr>
        <p class="sidebar-desc">I'm a software developer with a focus on processing, managing and analyzing geospatial data. In my free time, I tinker with computers, play video games and make music.</p>
        <div id="page-links">
            <hr>
            <h3 class="sidebar-header">Recent Posts:</h3>

            <h3 class="sidebar-header"><a href="{{ url_for('blog.posts')}}">more..</a></h3>
        </div>
    </div>

</div>
